<h6 class="d-block mx-auto text-center">Détails de votre commande</h6>

<div class="card-product-2 d-flex mx-auto w-50 top-50 image-pending">
  <%= cl_image_tag @furniture.photos.first.key %>
  <div class="card-product-2-infos px-3">
    <h1 class="d-block mx-auto"><%= @furniture.name.capitalize %></h1>
    <% if @booking.status == 'pending' %>
      <div class="pending-status"><p>EN ATTENTE</p></div>
    <% else %>
      <div class="accepted-status"><p>PAYÉE</p></div>
    <% end %>
    <br>
    <p> Prix par jour : <%= @furniture.price_per_day %> €</p>
    <p> Début de la location : <%= @booking.start_date.strftime('%d/%m/%Y') %></p>
    <p> Fin de la location : <%= @booking.end_date.strftime('%d/%m/%Y') %></p>
    <br>
    <h5> Prix total : <%= @booking.total_price %> €</h5>
  </div>
</div>

<!-- possible actions -->


<div class="d-flex justify-content-center">
  <div style="display: inline-block">

    <% if @booking.status == "pending" %>
      <div class="shopping-btn" id="pay">
        <a class="create-shopping" href="/furnitures/<%= @booking.furniture.id %>/bookings/<%= @booking.id %>/payments/new">Payer maintenant</a>
        <span></span>
      </div>
    <% end %>

    <div class="shopping-btn">
      <a class="create-shopping" href="/furnitures">Continuer vos achats</a>
      <span></span>
    </div>

    <div class="shopping-btn">
      <a class="create-shopping" href="/dashboard">Voir mes réservations</a>
      <span></span>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
