<h6 class="d-block mx-auto text-center">Details of your order</h6>

<h1 class="d-block mx-auto text-center"><%= @furniture.name.capitalize %></h1>

<div class="card-product-2 d-flex mx-auto w-50">
  <img src="https://picsum.photos/id/<%= @furniture.id %>/1000/1000"/>
  <div class="card-product-2-infos">
    <h5><strong><%= @furniture.description %></strong></h5>
    <p> Price per day: <%= @furniture.price_per_day %> â‚¬</p>
    <p> Start date of rent: <%= @booking.start_date %></p>
    <p> End date of rent: <%= @booking.end_date %></p>
    <br>
    <h5> Total price: 500 â‚¬</h5>
  </div>
</div>

<br>
<p class="btn btn-primary d-flex mx-auto w-25 text-center">
  <%= link_to "ðŸ›ï¸ ðŸ›’ Continue your shopping ðŸ›’ ðŸ›ï¸", furnitures_path %>
</p>
<br>
<p class="btn btn-primary d-flex mx-auto w-25 text-center">
  <%= link_to "ðŸ’° ðŸ’³   Pay   ðŸ’³ ðŸ’°", furnitures_path %>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
