<h1>Details of your order</h1>

<h2><%= @furniture.name.capitalize %></h2>

<img src="https://picsum.photos/id/<%= @furniture.id %>/1000/1000" style="object-fit: cover;" />

<p><%= @furniture.description %></p>
<p> Price per day: <%= @furniture.price_per_day %> €</p>
<p>Start date of rent: <%= @booking.start_date %></p>
<p>End date of rent: <%= @booking.end_date %></p>

<p>Total price: <%= @booking.total_price %> €</p>

<%= link_to "Continue your shopping", furnitures_path %>
<%= link_to "Pay", furnitures_path %>
