<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border border-white my-3 p-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house"></i> Home
    <% end %>

    <div class="border border-secondary rounded-pill">
      <button type="button" class="border-0 border-end bg-transparent">Localisation</button>
      <button type="button" class="border-0 border-end bg-transparent">Duration</button>
      <input type="text" name="search[query]" class="bg-transparent border-0 border-end" />
      <button name="button" type="submit" class="border-0 bg-transparent">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto border border-1 rounded-pill">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Tous les meubles", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mes réservations", "#", class: "dropdown-item" %>
              <%= link_to "Je fais louer mes meubles", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fas fa-bars"></i> <i class="fas fa-user-circle width-50" style="transform: scale(1.5,1.5);"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
