<%= render "shared/banner" %>

<div class="row">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
  <% @furnitures.each do |furniture| %>
    <div class="col-4">
      <a href="<%= furniture_path(furniture.id)%>">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-product-infos">
            <div class="card-product-infos-left">
              <h2><%=furniture.name.capitalize%></h2>
              <p class="text-dark"><%= furniture.description %></p>
            </div>
            <h2 class="card-product-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-product-user avatar-bordered" />
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>


  <p>Page en construction... <%= link_to "Go to index", furnitures_path %></p>
