<div class="d-flex bd-highlight text-muted mx-auto w-50 px-auto">
  <%= simple_form_for @furniture do |f| %>
    <%= f.input :name, placeholder: 'Chair' %>
    <%= f.input :description, placeholder: 'Wooden beautiful chair' %>
    <%= f.input :price_per_day, placeholder: '2' %>
    <%= simple_form_for(furniture) do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
