<div class="content-create-furniture">
  <div class="create-furniture">
  <h2>Create your furniture ad</h2>
  <%= simple_form_for @furniture do |f| %>
    <%= f.input :name, placeholder: 'Chair' %>
    <%= f.input :description, placeholder: 'Wooden beautiful chair' %>
    <%= f.input :city, placeholder: '5 Villa Gaudelet, 75011 Paris' %>
    <%= f.input :price_per_day, placeholder: '2' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <div class="create-furniture-submit button-create">
        <input type="submit" name="commit" value="Create" class="btn btn-create" data-disable-with="Create">
        <span></span>
    </div>
  <% end %>

  </div>
</div>
