<%= render "shared/banner" %>

<%= link_to "Back to home page", root_path %>

<%= link_to "New furniture", new_furniture_path if policy(Furniture).new? %>

<h1>See all our furnitures:</h1>

<div class="row">
  <% @furnitures.each do |furniture| %>
  <div class="col-4">
    <a href="<%= furniture_path(furniture.id)%>">
      <div class="card-product">
        <img src="https://picsum.photos/id/<%= furniture.id %>/1000/1000" style="object-fit: cover;" />
        <div class="card-product-infos">
          <div class="card-product-infos-left">
            <h2><%=furniture.name.capitalize%></h2>
            <p class="text-dark"><%= furniture.description %></p>
          </div>
          <h2 class="card-product-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-product-user avatar-bordered" />
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
